# Remote Backend Config
REMOTE_HOST=172.20.0.10
REMOTE_PORT=22
REMOTE_USER=root
REMOTE_KEY_PATH=keys/id_rsa
REMOTE_MINERU_DIR=/home/demo/docker/mineru

# VLLM Config
MINERU_VLLM_ENDPOINT=http://172.20.0.10:8000/v1
MINERU_VLLM_MODEL_ID=MinerU-2.5

# VLM for image caption
VLM_HOST_PATH=https://open.bigmodel.cn/api/paas/v4/chat/completions
VLM_MODEL_NAME=glm-4.6v-flash
VLM_API_KEY=[REPLACE YOUR API KEY HERE]
ENABLE_LLM_SUMMARIZATION=true


# Local Config
TEMP_DIR=temp
LOGS_DIR=logs
ENABLE_DAILY_CLEANUP=true
